name: "Ollama"
slug: "ollama-ha"
version: "0.1.1"
description: "Run Ollama on Home Assistant Server"
startup: services
init: false
arch:
  - amd64
  - aarch64
image: ghcr.io/peyanski/ollama-ha-{arch}
ports:
  11434/tcp: 11434
host_network: true
panel_icon: mdi:brain

environment:
  HOME: "/data"
  OLLAMA_HOST: "0.0.0.0:11434"

map:
  - share:rw

build_from:
  amd64: ghcr.io/home-assistant/amd64-base-debian:bookworm
  aarch64: ghcr.io/home-assistant/aarch64-base-debian:bookworm
