name: Build Ollama Add-on

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push HA Add-on (amd64 + arm64)
        uses: home-assistant/builder@master
        with:
          args: >
            --amd64
            --aarch64
            --target ollama-ha
            --image ghcr.io/${{ github.repository_owner }}/ollama-ha-{arch}
